[data-scroll-content] {
      padding-top: 9vw;
      padding-bottom: 5.5vw;
    }

    .bnr {
      position: relative;
      background: #d7effe;
      width: 100;
    }

    .tb {
      width: 180vw;
      font-size: 7.613vw;
      text-transform: uppercase;
    }

    .sright {
      margin-left: -2vw;
      position: relative;
      z-index: 5;
    }

    .bl {
      transform: translate(0, -5.8vh);
    }

    .bi {
      width: 49vw;
      height: auto;
    }

    .ba {
      position: absolute;
      bottom: 10vh;
      right: 14vh;
      width: 70px;
    }

    .ba img {
      width: 100%;
    }

    .bt {
      padding-left: 10vw;
      transform: translate(0, 70%);
    }

    .sw {
      margin-top: 20vw;
    }

    .sw,
    .con {
      margin: 18vw auto 20vh auto;
    }

    .swdes span>span {
      text-align: right;
      transition-delay: .9s;
      font-size: 15px;
    }

    .scol {
      padding: 20vh 8vw 5vh 8vw;
    }

    .sbot {
      margin-top: -20vh;
    }

    .w-margin {
      margin: 0 0 28vh 0;
    }

    .w p {
      font-size: 1.02em;
      font-family: product;
      padding: 15px 0 2px 0;
    }

    .w>span {
      font-size: 12px;
      font-family: quest;
      opacity: .5;
      color: #000000;
    }

    .w>a>div img {
      filter: grayscale(1);
      transition: .4s;
    }

    .w>a>div img:hover {
      filter: grayscale(0);
    }

    .con {
      position: relative;
      margin-bottom: 0;
    }

    .con * {
      transition-delay: .6s;
      transition-property: transform;
    }

    .cs {
      width: 52.33%;
      margin-left: 25.3%;
      align-items: center;
    }

    .social a {
      font-family: product, sans-serif;
      font-size: 1.066em;
      line-height: 1.154em;
      display: block;
      padding: 1px 0;
      transition: .2s;
    }

    .ctext {
      transform: translate(0, 1.8vh);
    }

    .ctext p {
      white-space: nowrap;
    }

    .ctext>a {
      font-family: product;
      text-decoration: underline;
      transform: translate(0, 10vh);
      display: block;
      font-size: 25px;
    }

    .social p {
      font-size: 16px;
      opacity: .5;
    }

    .c-small {
      font-size: 12px;
      font-family: product;
      transform: translate(0, 25vh);
      color: #000000;
      opacity: .5;
    }

    .cs .imgrev {

      width: 30vw;
      margin-left: -25vw;
      margin-top: 2vh;
      margin-bottom: 5vh;
    }